.profile-list-box {
  padding: 100px;
  background-color: #ffff;
  display: flex;
  justify-content: center;
}

.profile-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: fit-content;
  li img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.profile {
  position: relative;
}

.status {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #ffff;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.online {
  background-color: #4cfe88;
}

.offline {
  background-color: #dbdbdb;
}
