:root {
  --primary: #03cf5d;
  --red: #ff1414;
  --grey-light: #dadada;
  --grey-dark: #999999;
  --black-dark: #333333;
  --white: #ffffff;

  --text-size: 16px;
  --text-color: #121212;

  --focus: #24388d;
}

.naver-login {
  padding: 15px;
  min-width: 20rem;
  display: flex;
  flex-direction: column;

  .img-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 45px;
    img {
      width: 230px;
    }
  }
  form {
    width: 100%;
    input {
      width: 100%;
      border: var(--grey-light) 0.0625rem solid;
      background-color: var(--white);
      padding: 0.875rem;
      margin-bottom: 0.625rem;
      font-size: 0.875rem;
      placeholder {
        color: var(--grey-dark);
      }
    }

    input:focus {
      background-color: #e9f0fd;
      outline: #03cf5d 0.0625rem solid;
      border-radius: 2px;
    }

    button {
      width: 100%;
      margin-top: 0.625rem;
      font-size: var(--text-size);
      color: var(--white);
      background-color: var(--primary);
      border: none;
      padding-block: 1rem;
    }
    button:focus {
      outline: 2px solid var(--focus);
      outline-offset: 2px;
      border-radius: 4px;
    }
  }

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.625rem;

    @media (width > 768px) {
      justify-content: space-between;
    }

    .login-status {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      @media (width > 768px) {
        margin-left: 0;
      }
    }

    .ip-notice {
      display: none;

      @media (width > 768px) {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }

    button {
      background: none;
      border: none;
      padding: 0;
    }
    p {
      font-size: 14px;
      color: var(--black-dark);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .keep-login-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.25rem;
  }

  .keep-login-label input:focus-visible + .checkedbox-icon {
    outline: 2px solid var(--focus);
    outline-offset: 2px;
    border-radius: 4px;
  }

  .checkedbox-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./icon/unchecked-box.svg') no-repeat center / contain;
  }

  .keep-login-label input:checked ~ .checkedbox-icon {
    background-image: url('./icon/checked-box.svg');
  }

  input:invalid:not(:placeholder-shown) {
    outline: 1px solid var(--red);
  }

  input:invalid:not(:placeholder-shown) ~ .error-message {
    display: block;
    color: var(--red);
    font-size: 0.75rem;
    padding-bottom: 0.4375rem;
  }

  .ip-toggle-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  .ip-toggle-state::after {
    content: 'ON';
    font-weight: bold;
    color: var(--primary);
  }

  #ip-toggle:checked + .ip-toggle-label .ip-toggle-state::after {
    content: 'OFF';
    color: var(--grey-dark);
  }

  #ip-toggle:focus-visible + .ip-toggle-label .ip-toggle-state {
    outline: 2px solid var(--focus);
    outline-offset: 2px;
    border-radius: 4px;
  }

  .error-message {
    display: none;
  }
}
